#ignore utility script for creating makefile with python script
CreateMakeScript.txt

#Ignore executable binaries
*.out

#Ignore object files
*.o

#vscode config
.vscode/

#images
*.ppm

#uml docs
UMLDir/*
UML